html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: darkgray;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

.col6 {
    background-color: rgb(14, 27, 85);
    color: ivory;
}

.p{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.footer{
    background-color: rgb(14, 27, 85);
}

header {
    background-image: url(img/bannerm71280.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.textfooter{
    text-align: center;
    color: blanchedalmond;
    margin-bottom: 0%;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 10px;
}

.topo{
    text-align: center;
    color: blanchedalmond;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 0px;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 25px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 40px;
    z-index: 999999;
}

nav ul {
    line-height: 40px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: rgb(14, 27, 85);
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 40px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.bg1{
    background-color: #faaf1d;
    background-size: cover;
}

.bg2{
    background-color: rgba(35, 179, 16, 0.582);
    background-size: cover;

}

.bg3{
    background-color: rgba(31, 19, 194, 0.582);
    background-size: cover;

}

.bg4{
    background-color: rgba(156, 197, 7, 0.582);
    background-size: cover;

}

nav a{
    float: left;
    color: #eee;
    text-decoration: none;

}

nav a:hover{
    background-color: #ddd;
    color: #000;
}

@media(max-width: 926px) {

    header {
        background-image: url(img/bannerm71280.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 50%;
        background-size: 100% 100%;
        background-position: center;
    }

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }
}

@media(min-width: 1223px) {

    header {
        background-image: url(img/bannerm71280.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 80%;
        background-size: cover;
        background-position: center;
    }
}

body{
    background: -webkit-linear-gradient(left, #faaf1d, rgb(14, 27, 85));
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}